/* src/styles/main.scss */
@import "variables";

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: $bg-page;
  color: $font-color;
}
